.slideshow-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.img-slideshow {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2); // 1.9?
    }
}

.slideshow-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    // padding-left: 120px;
    
    justify-content: center;

    p {
        max-width: 800px;
        padding-left: 32px;
        color: white;
        font-size: 80px;
        padding-right: 250px;
        border-left: 8px solid red ;
    }
}

.fadeIn {
    animation: fadeInAnimation 1.2s ease-in-out;
}

@keyframes fadeInAnimation {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

