.slideshow-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.img-slideshow {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2); // 1.9?
    }
}